<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConsultaDent</title>
</head>
<body>
  <h1>Bem-vindo ao ConsultaDent</h1>
  <ul id="consultas-list">
  </ul>
  <a href="/criar">Criar nova consulta</a>

  <ul>
    {{#consultas}}
      <li>
        {{titulo}} - {{clinica}} - {{data}} - {{hora}}
        <a href="/editar/{{id}}">Editar</a>
        <form action="/excluir/{{id}}" method="POST" style="display:inline;">
          <button type="submit">Excluir</button>
        </form>
      </li>
    {{/consultas}}
  </ul>
  

  <script>
    async function fetchConsultas() {
      const response = await fetch('/api/consultas');
      const consultas = await response.json();
      const consultasList = document.getElementById('consultas-list');
      consultas.forEach(consulta => {
        const li = document.createElement('li');
        li.textContent = `${consulta.titulo} - ${consulta.clinica} - ${consulta.data} - ${consulta.hora}`;
        consultasList.appendChild(li);
      });
    }

    window.onload = fetchConsultas;
  </script>
</body>
</html>
