<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row mb-4">
            <div class="col-md-6">
                <h3 class="font-weight-bold">ConsultaDent</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h3 class="text-center">Registrar</h3>
                <form action="/register" method="POST">
                    <div class="form-group">
                        <label for="username">Usuário:</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Repetir Senha:</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            As senhas devem ser idênticas.
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    <a href="/login" class="btn btn-link btn-block">Login</a>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var password = document.getElementById("password");
            var confirmPassword = document.getElementById("confirmPassword");

            function validatePassword() {
                if (password.value !== confirmPassword.value) {
                    confirmPassword.setCustomValidity("As senhas não são idênticas");
                } else {
                    confirmPassword.setCustomValidity('');
                }
            }

            password.onchange = validatePassword;
            confirmPassword.onkeyup = validatePassword;
        });
    </script>
</body>
</html>
